<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
 
</head>
<body>

	<div >
		<div >
			<h1 > Are you a Customer or a Shelter?</h1>
				<a href="/users"><p>For Shelters</p></a>
				<a href="/customers"><p>For Customers</p></a>
			 
		</div>
</div>

</body>
</html>